<%- include('header') %>

    <head>
        <title>Home</title>
        <link rel="stylesheet" href="../public/home.css">
    </head>

    <body style="background-color: #1A1B1E;background-size: 200% auto;">
        <header>
            <a>
                <img src="../public/bck.png" alt="  ">
            </a>
            <h3>Empower your Discord community with <%= botClient.username %>'s Versatility and Power!</h3>
            <p>Bring your Discord server to the next level with <%= botClient.username %>, the all-in-one multipurpose bot featuring
                powerful moderation tools, custom commands, utility features, and seamless third-party integrations!
            <p>
            <div>
                <a href="/invite" target="_blank" id="btn" class="wide" style="padding:10px 30px; font-size: 25px;">&nbsp;Invite&nbsp;</a>
                <a href="/vote" target="_blank" id="btn" class="wide" style="padding:10px 30px; font-size: 25px;">&nbsp;Vote&nbsp;</a>
            </div>

        </header>



    </body>